body {
  background-color: #f8f8f8;
  font-size: 16px;
  font-size: 1rem;
}
.photogrid img {
  padding: 5px;
}
.pointer {
  cursor: pointer;
}
.comment-show-all {
  white-space: normal !important;
  overflow: auto !important;
}
.tabrow {
  list-style: none;
  margin: 0px 0 0px 5px;
  padding: 0;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}
.tabrow li {
  border: 1px solid #aaa;
  background: #f8f8f8;
  background-color: #f8f8f8;
  background: -o-linear-gradient(top, #ececec 50%, #f8f8f8 100%);
  background: -ms-linear-gradient(top, #ececec 50%, #f8f8f8 100%);
  background: -moz-linear-gradient(top, #ececec 50%, #f8f8f8 100%);
  background: -webkit-linear-gradient(top, #ececec 50%, #f8f8f8 100%);
  background: linear-gradient(top, #ececec 50%, #f8f8f8 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4), inset 0 1px 0 #fff;
  text-shadow: 0 1px #fff;
  margin: 0 -5px;
  padding: 0 20px;
}
.tabrow a {
  color: #555;
  text-decoration: none;
}
.tabrow li.selected {
  background: #fff;
  color: #333;
  z-index: 2;
  border-bottom-color: #fff;
}
.tabrow:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
  z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
  border: 1px solid #aaa;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}
.tabrow li:before {
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #f8f8f8;
}
.tabrow li:after {
  right: -6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #f8f8f8;
}
.tabrow li.selected:before {
  box-shadow: 2px 2px 0 #fff;
}
.tabrow li.selected:after {
  box-shadow: -2px 2px 0 #fff;
}
